#next

NETX_PUBLIC_SITE_URL=http://localhost:3000


# for appwrite authentication 

PUBLIC_APPWRITE_ENDPOINT=

PUBLIC_APPWRITE_PROJECT=66bb4f9c003918bb487f
APPWRITE_DATABASEID= 
APPWRITE_USER_COLLECTIONID=
APPWRITE_BANK_COLLECTIONID=
APPWRITE_TRANSACTIONS_COLLECTIONID=
APPWRITE_SECRET=